#vision .card{
    background-color: whitesmoke;
    margin: 20px;
    border: none;
}

#vision .card-body{
    height: 285px;
}

#vision .card-title{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Lora;
    font-size: 40px;
    color: #2f3264;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
}

#vision .card-text{
    font-family: Lora;
    font-size: 18px;
    color: #2f3264;
    text-align: center;
    padding: 10px 100px;
}


.bannerhead{
    /* filter: brightness(70%); */
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgb(0 0 0 / 64%)), url("../Images/b2.jfif");
    height: 120px;
  }
  .bannerhead h2{
    color: white;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 40px;
    padding: 25px 130px;
}

.bannerhead h5{
    color: #fff ;
    padding: 0px 150px;
    margin-top: -20px;
}

@media only screen and (max-width: 600px) {
    .bannerhead h2{
        font-weight: 700;
        text-transform: capitalize;
        font-size: 40px;
        text-align: center;
        padding: 30px;
    }
    #vision .card-text{
        padding: 0px;
    }
    #vision .card-body{
        height: auto;
    }
  }